.container {
  display: inline-block;
}

.cart {
  display: grid;
  grid-template-columns: repeat(3, 75px);
  width: 230px;
  height: 200px;
  border: 2px solid black;
  margin-bottom: 5px;
  border-radius: 10px;
}

.cart:hover {
  transition: 0.3s;
  border: 2px solid lightblue;
}

.cartItem {
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  width:50px;
  height: 50px;
  border: solid 2px black;
  border-radius: 5px;
}

.messageError {
  margin-top:10px;
  color: red;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  width: 300px;
  height: 500px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 1px 6px 0px dimgrey;
  align-content: space-evenly;
  justify-content: center;
  align-items: center;
}

.item {
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: solid 2px black;
  border-radius: 5px;
}

